---
import Section from "../../layout/Section.astro";
import ValuesIntro from "./ValuesIntro.astro";
import ValuesDifference from "./ValuesDifference.astro";
import VisitSection from "./VisitSection.astro";
import "./ValuesSection.css";
---

<Section id="activities" class="lwk-values" width="wide">
  <div class="lwk-values__stack">
    <ValuesIntro />
    <ValuesDifference />
    <VisitSection />
  </div>
</Section>
