---
import Icon from "../../icons/Icon.astro";
import planeIcon from "../../../../assets/icons/plane-icon.svg";
import "./ValuesIntro.css";
---

<section
  id="approach"
  class="lwk-values-intro"
  aria-labelledby="values-title"
  data-values-intro
>
  <div class="lwk-values-intro__decor" aria-hidden="true">
    <span class="lwk-values-intro__icon lwk-values-intro__icon--star">
      <Icon name="star" size={54} />
    </span>

    <span class="lwk-values-intro__icon lwk-values-intro__icon--heart">
      <Icon name="heart" size={42} />
    </span>

    <span class="lwk-values-intro__flight">
      <svg
        class="lwk-values-intro__flight-path"
        viewBox="0 0 440 110"
        preserveAspectRatio="none"
      >
        <path d="M4 74 C88 67 143 93 220 89 C280 87 314 64 357 51"></path>
      </svg>

      <img
        class="lwk-values-intro__plane"
        src={planeIcon.src}
        alt=""
        width="130"
        height="66"
      />
    </span>
  </div>

  <div class="lwk-values-intro__content">
    <h2
      class="lwk-values-intro__title"
      id="values-title"
      data-values-intro-title
    >
      <span class="lwk-values-intro__title-line"> A Place to </span>

      <span
        class="lwk-values-intro__title-line
          lwk-values-intro__title-line--phrases"
      >
        <span
          class="lwk-values-intro__accent
            lwk-values-intro__accent--purple
            lwk-tone-purple"
        >
          Feel Safe,

          <svg
            class="lwk-values-intro__underline"
            viewBox="0 0 240 16"
            preserveAspectRatio="none"
            aria-hidden="true"
          >
            <path pathLength="100" d="M4 10 C55 7 132 12 236 8"></path>
          </svg>
        </span>

        <span
          class="lwk-values-intro__accent
            lwk-values-intro__accent--green
            lwk-tone-green"
        >
          Seen

          <svg
            class="lwk-values-intro__underline"
            viewBox="0 0 120 16"
            preserveAspectRatio="none"
            aria-hidden="true"
          >
            <path pathLength="100" d="M4 9 C33 11 75 6 116 9"></path>
          </svg>
        </span>
      </span>

      <span
        class="lwk-values-intro__title-line
          lwk-values-intro__title-line--phrases"
      >
        <span class="lwk-values-intro__connector"> and </span>

        <span
          class="lwk-values-intro__accent
            lwk-values-intro__accent--blue
            lwk-tone-blue"
        >
          Celebrated

          <svg
            class="lwk-values-intro__underline"
            viewBox="0 0 260 16"
            preserveAspectRatio="none"
            aria-hidden="true"
          >
            <path pathLength="100" d="M4 10 C70 6 157 12 256 8"></path>
          </svg>
        </span>
      </span>
    </h2>

    <div class="lwk-title-rule" aria-hidden="true">
      <span></span>
      <i></i>
      <span></span>
    </div>

    <div class="lwk-values-intro__copy">
      <p>
        We created Little Wise Kids with one heartfelt intention: to offer the
        kind of environment we would want for our own children. Our setting is
        calm, loving and rich with purpose, designed to feel like an extension
        of family life.
      </p>

      <p>
        Here, children are encouraged to explore their interests, develop
        confidence and form meaningful relationships. We believe the early years
        are precious, and every day is an opportunity to support a child’s sense
        of wonder.
      </p>
    </div>
  </div>
</section>

<script src="./ValuesIntro.ts"></script>
