---
import Container from "./Container.astro";
import "./Section.css";

interface Props {
  id?: string;
  width?: "default" | "narrow" | "wide" | "full";
  class?: string;
  [key: string]: unknown;
}

const {
  id,
  width = "default",
  class: className = "",
  ...rest
} = Astro.props;

const classes = ["section", className].filter(Boolean).join(" ");
---

<section id={id} class={classes} {...rest}>
  <Container size={width}>
    <slot />
  </Container>
</section>
