---
interface ExternalLinkDef {
  _type: "link";
  href: string;
  blank?: boolean;
}

interface Props {
  node: { markDef: ExternalLinkDef };
}

const { node } = Astro.props;
const { href, blank } = node.markDef;
---

<a href={href} target={blank ? "_blank" : undefined} rel={blank ? "noopener noreferrer" : undefined}>
  <slot />
</a>
