---
interface InternalReference {
  _id: string;
  _type: string;
  slug?: { current?: string };
}

interface InternalLinkDef {
  _type: "internalLink";
  reference?: InternalReference;
}

interface Props {
  node: { markDef: InternalLinkDef };
}

const { node } = Astro.props;
const ref = node.markDef.reference;

function getHref(r: InternalReference): string {
  switch (r._type) {
    case "homePage": return "/";
    case "aboutPage": return "/about-us";
    case "multilingualPage": return "/multilingual-learning";
    case "hoursNutritionPage": return "/hours-nutrition";
    case "parentsPage": return "/parents-information";
    case "galleryPage": return "/our-gallery";
    case "contactPage": return "/contact";
    case "blogPage": return "/blog";
    case "blogPost": return r.slug?.current ? `/blog/${r.slug.current}` : "";
    default: return "";
  }
}

const href = ref ? getHref(ref) : "";
---

{href ? <a href={href} class="internal-link"><slot /></a> : <slot />}
