---
import "../styles/site.css";
import { site } from "../data/site";
import SiteHeader from "../components/layout/SiteHeader.astro";
import SiteFooter from "../components/layout/SiteFooter.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = site.name, description = site.description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="preload" href="/assets/fonts/Quicksand/Quicksand-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/assets/fonts/Roboto/Roboto-Regular.woff2" as="font" type="font/woff2" crossorigin />
  </head>
  <body>
    <SiteHeader />
    <main>
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>
